.float-button-phone{
  /* position: relative; */
  width: 60px;
  display: flex;
  height: 60px;
  bottom: 110px;
  right: 40px;
  
 
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  
}
.whatsapp {
  background-color: #25d366 !important;
  }
  .btn-sms{
    background-color: #086fc1  !important ;
  }
  .cont-floating-btns{
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    right: 0;
    bottom: 60px;
    background: transparent;
    border-radius: 3px;
    backdrop-filter: blur(3px);
    align-items: flex-end;
    justify-content: center;
    padding: 0px 15px 0px 0px;
  }
  .cont-floating-btns a{
    display: flex;
    align-items: center;
  }
  .whatsapp-icon {
    margin-top:13px;
  }
  .whatsapp:hover {        
    /*background: linear-gradient(to right,#12d359 40%, #1dd661 60%, #eff8f3 90%);*/
    /*color:rgb(247, 243, 243);*/
    background-color:#e88000 !important;    
    color:#25d366 ;  
  }

  /*Phone call*/

  .float-button-phone:hover {
    background-color: #e88000;  
    text-decoration: none;
   
  }
  .btn-sms:hover  {
    background-color: #e88000 !important;  
    /*background: linear-gradient(to right,#12d359 40%, #1dd661 60%, #eff8f3 90%);*/
    color: #086fc1 !important;   
  }

  /*Movil Resolution*/
  @media only screen and (max-width: 1200px){
    .size-mobil{
      width:35px;
      height:35px;
      bottom:15px;
      right:15px;
    }
    .size-mobil-sms{
      width:35px;
      height:35px;
      bottom:60px;
      right:15px;
    }
    .float-button-phone{    
    
    color:#FFF;
    border-radius:50px;    
    font-size:20px;
    z-index:100;          
    }

   
  
  }
 
