.cont-btnbuy-opciones .btn-buy{
    margin-top: 20vh;
  
}
.cont-img-portada img{
position: fixed;
display: block;
width: 100%;
}

main .section-portada{
    min-height: 100vh;
    align-items: flex-start;
    justify-content: space-between;
}
/* .section-portada{
    position: relative;
    
} */


.div1-main{
    min-height: 10vh;
    max-height: 100vh;
	/*background-image: url(../imgs/original.png);*/
	background-repeat: no-repeat;
	background-size: cover;			
	background-position: center;						
}
.text-introduction{
    margin-bottom: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 6.4vw;
    /* letter-spacing: -2px; */
    line-height: 1em;
    font-family: 'Nunito', sans-serif;    
    font-weight: 700;
}

h3{    
    display: block;
    /*font-size: 1.17em;*/
    margin: 0;
    margin-bottom: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #f9f9f9;  
    font-size: 28px;
    line-height: 38px;  
}
.slogan{
    color: white;
    color: #e1eff0;
    font-size: 30px;
    font-size: 20px;

}
.vector-subtitle{
    color: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    /* line-height: 1px; */
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
}
.vector-subtitle p{
    color: white !important;
}
.vector-subtitle hr {
    max-width: 8vw;
    min-width: 8vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    margin-right: 0.7vw;
    /* margin-bottom: 200px; */
    border-top: 4px solid rgb(255 255 255);
}
.item2 .vector-subtitle{
    align-self: end;
    align-items: center;
}
.item2 .vector-subtitle hr {
    max-height: 20vw;
    min-height: 10vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    text-align: right;
    align-self: end;
    margin-right: 0.7vw;
    /* margin-bottom: 200px; */
    /* border-top: 4px solid rgb(255 255 255); */
    /* border: none; */
    border-right: 5px solid hsl(0deg 0% 100%);
    height: 100vh;
    width: 1px;
}
.item2 .slogan{
    color: #cf5a20;
    font-size: 30px;
    font-size: 4vh;
    margin: 0px;
}


.item1{
    /*
    text-align: center;
    min-width: 350px;
    max-width: 350px;
    min-width: 40%;
    max-width: 40%;
    word-wrap: break-word;
*/
    border-radius: 5px;
    border: none;
    text-align: center;
    min-width: 40%;
    max-width: 40%;
    overflow-wrap: break-word;
    background: linear-gradient(86deg, rgb(3 4 2 / 0%), transparent);
    
    padding: 50px;
}

.item2{    
    border-radius: 5px;
    display: flex;
    border: none;
    text-align: center;
    /* margin-top: auto; */
    min-width: 40%;
    max-width: 40%;
    overflow-wrap: break-word;
    background: linear-gradient(86deg, rgb(3 4 2 / 0%), transparent);
    padding: 50px;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;


    }  

    .item2 .text-introduction{
        margin-bottom: 0px;
        margin-bottom: 0px;
        font-size: 3em;
        color: #cf5a20;
    }
.cont-picture-portada{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 100%;
    margin-top: 0px;
    max-width: 60%;
}
.cont-picture-portada img{
    display: block;
    height: auto;
    width: 100%;    
}
.btn-buy{
    margin-bottom: 8px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease 0s;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #81793800;
    padding: 11.5px 24px;
    /* max-width: 540px; */
    color: #f9f9f9;
    /* border: none; */
    cursor: pointer;
    text-decoration: underline;
    text-decoration: none;
    width: 100%;
    height: 50px;
    max-width: 700px;
    padding: 20.5px 33px;
    font-size: 12px;
    line-height: 15px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid white;
}
.btn-buy:hover{
    background: linear-gradient(to right,#00CCFF 40%, #6E4D95 60%, #AF5CC9 90%);
    background: linear-gradient(to right,#ffdf0096 40%, #997033a8 60%, #3e2200ad 90%);
    background: linear-gradient(to right,#ffe473 40%, #f1b44d 60%, #ae2503 90%);
    background: linear-gradient(to right,#d76c52 40%, #f66b31 60%, #d76c52 90%);
    background: linear-gradient(to right,#e3a81d82 40%, #f66b3196 60%, #f66b31b8 90%);
    background: linear-gradient(to right,#e3a81d38 40%, #c65623a6 60%, #c65b26 90%);
    background: linear-gradient(to right,#dc5f20 20%, #ff7b3a 50%, #cf5a21 100%);
    text-decoration: none;
    border: none;
    color: rgb(255, 255, 255);
}   
.link-portada{    
    padding: 0;
    color: #f9f9f9;
    color: #ffbc1e;
    cursor: pointer;
    background: 0 0;
    border: none;
    text-align: inherit;
    font-size: 16px;
    line-height: 26px;
    list-style: none;
    text-decoration:  none;    
}
.link-portada:hover{ 
    color: white;    
} 
    
@media only screen and (max-width: 800px)
{
    /* .section-portada{
        padding-top: 50% !important;           
        padding-bottom: 100% ;  
    } */
    .section-card-services ul{
        grid-template-columns: 1fr ;
        display: flex;
        align-items: center;
    }
    /* body p{
        font-size: 20px;
    }
    body h3{
        font-size: 22px;
    } */
   
    .cont-btnbuy-opciones .btn-buy{
        margin-top: 10vh;
      
    }

}
    
@media only screen and (max-width: 1200px)
{
  
    .section-portada{
        padding-top: 50% !important;           
    
    } 
    .item1{
        min-width: auto;
        max-width:500px;       
    }

    .item2{    
        
        max-width: 100%;
    }   
    .btn-buy{     
        font-size: 10px;
        margin-bottom: -2px;
        width: 100%;
        height: 30px;
        max-width: 500px;
    }
    .link-portada{
        font-size: 12px;
        line-height: 22px;

    }
    .text-introduction{
        line-height: 1em;
        font-size: 12vw;       
        font-size: 36px;
    
    }
    .slogan{
   
        font-size: 14px;
        letter-spacing: 2px;
    
    }
    
}