.section-2 .item2{
    border-radius: 5px;
    display: flex;
    border: none;
    min-width: 60%;
    max-width: 60%;
    overflow-wrap: break-word;
    background: linear-gradient(86deg, rgba(3, 4, 2, 0), transparent);
    padding: 50px;
    flex-direction: column;
    align-items: flex-end;
    left: 0;
    overflow: visible;
    display: block;
    position: absolute;
    text-align: left;
    padding-left: 0;
    
}
.section-2 .swiper-slide .p-ubication{
    display: none;
}


main .section-2{
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 0;
    flex-direction: row-reverse;
    max-height: 100%;
    min-height: 100vh;
    /* padding-top: 25%; */
}
.section-2 .item1{
    display: flex;
    flex-direction: column;
    margin-top: -60px;
    align-items: flex-start;
    max-width: fit-content;
}
.section-2 .item1 .vector-subtitle{
    display: flex;
    align-items: flex-end;

}
.section-2 .item1 .vector-subtitle p{
    margin: 0;
    padding-left: 5px;
    color: silver;
    letter-spacing: 1.5px;
}
.section-2 .item1 .vector-subtitle img{
    max-width: 6vw;
    opacity: 0.8;
}

.section-2 .vector-subtitle hr {
    max-width: 3vw;
    min-width: 3vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    margin-right: 0.7vw;
    /* margin-bottom: 200px; */
    border-top: 4px solid rgb(255 255 255);
}

.section-2 .cont-btnbuy-opciones .btn-section2 {
    border-radius: 50px;
    font-size: 0.8em;
    width: max-content;
    margin: 0px;
}
.section-2 .cont-btnbuy-opciones .btn-section2:hover{
    background: linear-gradient(to right,#085a00 20%, #9cc501 50%, #3e8102 100%);
    background: linear-gradient(to right,#1bb00d8f 20%, #9cc50130 50%, #3e8102 100%);    
}
.cont-slider-tours
{
    position: relative;
    max-width: max-content;
    min-width: auto;
}
.cont-data-slide{
 
    display: flex;
    flex-direction: row;
    padding-left: 5.6vw;
    padding-top: 0vw;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-content: center;
    margin-top: -25px;   
    
}
.vector-subtitle-horizontal {
    max-width: 100%;
    padding: 0px 10px 0px 10px;
    min-width: 10vw;
    width: 50vw;
}
.vector-subtitle-horizontal hr {
    max-width: 100%;
    min-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    margin-right: 0.7vw;
    border-top-style: solid;
    border-top-color: silver;

}
.cont-data-slide p {     
    color: white !important;
}
.section-2 .cont-data-slide .slogan{    
    color: white;
    /* font-size: 30px; */
    /* font-size: 4vh; */
    font-size: 1.5vw;
    margin: 0px;
    
    
}
.cont-data-slide h3 {     
    color: white !important;
}
@media only screen and (max-width: 1200px){
    .section-2 .item2{
        position: relative;
        width: 100%;
        height: auto;
        padding: 0 !important;
        min-width: 111%;
    }    

    .section-2 .cont-data-slide .slogan{    
        color: white;
        /* font-size: 30px; */
        /* font-size: 4vh; */
        font-size: 4vw;
        padding: 5.6vw;
        
        
        
    }
}
