div h1 {
    font-size: large;   
    color: #00000099;
}
div p {
 font-size: small;
}


.container-text{
    display: flow;
}

.cont-article {
    margin: 1%;
}

.sn-c {
    margin: 10px;
}
.a-e-a{
    margin: 10%;
    background-color: black;
}